# Integration test
TEST_HOSTNAME=unix # Host to perform tests with
TEST_USERNAME=user # Unprivileged user at that host
TEST_APP_NAME=libvirt-backup # Remote dir for the project clone
TEST_REMOTE_HOME=/home/${TEST_USERNAME} # Remote home directory

# Constants
BACKUP_DIR="/backup-vm" # local dir to store backups (absolute path)
BACKUP_LOG_FILE="${BACKUP_DIR}/backup.log" # log file
RUNNING_FILE="${BACKUP_DIR}/running" # marker file inside ${BACKUP_DIR} indicating another bc.sh copy is running
ANOTHER_SERVER_ANOTHER_BACKUP_DIR="/other_backup" # remote dir to transfer backups to (absolute path)

# Per-host variables
VM_NAMES_TO_BACK_UP="a c b" # list of VM to back up
ANOTHER_SERVER_IP="127.0.0.2" # Remote server IP
ANOTHER_SERVER_USERNAME="user" # Remote server user name
DAYS_TO_KEEP_BACKUPS="+63" # For how long to keep backups. The '+' sign is mandatory for 'older than ... days' semantic
BACKUP_TIMEOUT_SECONDS=7200 # Timeout in seconds, wait for virsh backup-begin to finish
QEMU_IMG_CONVERT_WITH_COMPRESSION=1 # qemu-img convert -O qcow2 -c ... backup
MINIMUM_FREE_DISK_SPACE_REQUIRED=536870912 # minimum free disk space required in {BACKUP_DIR} (kilobytes)
