# Integration test
TEST_HOSTNAME=unix # Host to perform tests with
TEST_USERNAME=user # Unprivileged user at that host
TEST_APP_NAME=libvirt-backup # Remote dir for the project clone
TEST_REMOTE_HOME=/home/${TEST_USERNAME} # Remote home directory
